<h6>*Info: Please click on a subject from the left box to see corresponding graph on right box. By default,
    first item
    is selected.</h6>
<div style="display: inline-flex;">
    <span style="width: 50%; margin: 5px;">
        <div>Subject List:</div>
        <ul class="list-group"
            style="border: 2px solid grey; border-radius: 0px; padding: 5px;height: 750px; overflow: auto;">
            <li *ngFor="let item of distinctSubjectList">
                <span class="list-group-item list-group-item-action" (click)="onSubjectClicked($event)">{{item}}</span>
            </li>
        </ul>
    </span>
    <span style="width: 50%; vertical-align: top; margin: 5px;">
        <div>Graph:</div>
        <div style="width: 750px; height: 750px; border: 2px solid grey; padding: 1px;" id="mynetwork">*Info: Please
            click on a subject from the left box to see corresponding graph here.</div>
    </span>
</div>